<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wennie Tung">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<!-- navigation -->
<div class="navigationFrame">
    <div class="navigationBar">
        <div class="header">台北一日遊</div>
        <div class="list">
            <div>預定行程</div>
            <div>登入/註冊</div>
        </div>
    </div>
</div>

<!-- 1200px -->
<div class="container">

    <!-- section -->
    <div class="sectionFrame">
        <div class="section">
            <!-- 左邊 景點照片slideshow -->
            <div class="pictureSlideshow">
                <div class="imagesContainer" id="imagesContainer">
                </div>
                <!-- 上一張、下一張 btns -->
                <a class="prev" onclick="plusSlide(-1)"><img src="/btn_leftArrow.png"></a>
                <a class="next" onclick="plusSlide(1)"><img src="/btn_rightArrow.png"></a>
                <!-- dots -->
                <div class="dotFrame">
                </div>
            </div>
            <!-- 右邊 景點資訊 -->
            <div class="profile">
                <div class="title">平安鐘</div>
                <div class="infromation">公共藝術 at 忠孝復興</div>
                <div class="bookingForm">
                    <div class="bookingOption">訂購導覽行程</div>
                    <div class="bookingText">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="bookingOption">選擇日期：
                        <input class="bookingDate" type="date" min="2023-09-01" max="2030-12-31"/>
                    </div>
                    <div class="bookingOption">選擇時間：
                        <!-- checked 預設勾選上半天 -->
                        <label class="radio-container">
                            <input type="radio" name="bookingTime" value="2000" checked id="morning">
                            <span class="custom-radio"></span>
                            上半天
                        </label>
                        <label class="radio-container">
                            <input type="radio" name="bookingTime" value="2500" id="afternoon">
                            <span class="custom-radio"></span>
                            下半天
                        </label>
                    </div>
                    <div class="bookingOption">導覽費用：
                        <span class="showFee">新台幣 2000 元</span>
                    </div>
                    <button class="bookingButton">開始預約行程</button>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!-- discription -->
    <div class="discriptionFrame">
        <div class="discription">
            <div class="text" id="description">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</div>
            <div>
                <div class="infos">景點地址：</div>
                <div class="text" id="address">臺北市 大安區忠孝東路4段</div>
            </div>
            <div>
                <div class="infos">交通方式：</div>
                <div class="text" id="transport">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</div>
            </div>
        </div>
    </div>

</div>

<!-- footer -->
<footer>
    <div class="footerText">COPYRIGHT © 2021 台北一日遊</div>
</footer>

</body>

    <script>

    const PROD_API_PATH = "http://13.238.60.107:3000";
    const DEV_API_PATH = "http://127.0.0.1:3000";
    let currentSlideIndex = 0;
    let slides;
    let dots;

    // find attraction id
    let attractionId = {{request.view_args.id}};
    // when DOM finish loaded : 
    document.addEventListener('DOMContentLoaded', async function(){
        try{
            // booking time : default (tomorrow)
            const today = new Date();
            const tomorrow = new Date(today);
            tomorrow.setDate(today.getDate()+1);
            document.querySelector('.bookingDate').valueAsDate = tomorrow;
            const data = await getAttractionIdData();
            // render data
            renderAttractionInfo(data);
            renderAttractionImg(data);
            renderDots(data);
            showSlides(currentSlideIndex);
        } catch (error) {
            console.error('An error occurred:', error);
        }
    })

    // fetch : get attraction data
    async function getAttractionIdData(){
        const response = await fetch(`${PROD_API_PATH}/api/attraction/${attractionId}`);
        const data = await response.json();
        return data.data;
    }

    // render : 右邊 景點資訊 & discription
    function renderAttractionInfo(data){
        const name = document.querySelector('.title');
        const cateAndMrt = document.querySelector('.infromation');
        const description = document.querySelector('#description');
        const address = document.querySelector('#address');
        const transport = document.querySelector('#transport');
        name.textContent = data.name;
        cateAndMrt.textContent = `${data.category} at ${data.mrt}`;
        description.textContent = data.description;
        address.textContent = data.address;
        transport.textContent = data.transport;
    }
    // render : 左邊 景點照片
    function renderAttractionImg(data){
        let i = 0 ;
        const images = data.images;
        for(let i=0; i < images.length ; i++){
            const imagesContainer = document.querySelector('#imagesContainer')
            const imagesElement = document.createElement('div');
            imagesElement.classList.add('picture', 'fade')
            imagesElement.innerHTML = `
                <img src="${images[i]}">
                `
            imagesContainer.appendChild(imagesElement);
        };
    }

    // render : dots
    function renderDots(data){
        const images = data.images;
        const dotFrame = document.querySelector('.dotFrame');
        //  forEach() 中可以放入 index 來記錄 array 的 index
        images.forEach((image, index) => {
            const dot = document.createElement('span');
            if (index === 0){
                dot.classList.add('dot', 'active');
            } else {
                dot.classList.add('dot');
            };
            // 在 dot 上 add click 監聽
            dot.addEventListener('click', function(){
                currentSlide(index);
            })
            dotFrame.appendChild(dot)
        })
    }


    // slide show
    // slideIndex

    // next, prev btn controls
    function plusSlide(nextSlideIndex){
        showSlides(currentSlideIndex += nextSlideIndex);
    }

    // thumbnail img controls
    function currentSlide(nextSlideIndex){
        showSlides(currentSlideIndex = nextSlideIndex);
    }

    // show slides pictures
    function showSlides(showSlideIndex){
        let i;
        let slides = document.querySelectorAll('.picture');
        let dots = document.querySelectorAll('.dot');
        if (showSlideIndex >= slides.length){
            showSlideIndex = 0;
        }
        if (showSlideIndex < 0){
            showSlideIndex = slides.length -1;
        }
        for(i=0; i < slides.length; i++){
            slides[i].style.display = "none";
        }
        for(i=0; i < slides.length; i++){
            dots[i].className = dots[i].className.replace(" active", "")
        }
        slides[showSlideIndex].style.display = "block";
        dots[showSlideIndex].className += " active";

        currentSlideIndex = showSlideIndex;
    }


    // morning or afternoon
    let fee;
    const showFee = document.querySelector('.showFee');
    const morning = document.getElementById('morning');
    const afternoon = document.getElementById('afternoon');

    morning.addEventListener('click', function(){
        fee = document.querySelector('input[name="bookingTime"]:checked').value;
        showFee.textContent = `新台幣 ${fee} 元`
    })

    afternoon.addEventListener('click', function(){
        fee = document.querySelector('input[name="bookingTime"]:checked').value;
        showFee.textContent = `新台幣 ${fee} 元`
    })

    // 
    const header = document.querySelector('.header');
    header.addEventListener('click', function(){
        window.location.href = `${PROD_API_PATH}`
    })

    </script>

</html>