<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wennie Tung">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- navigation -->
    <div class="navigationFrame">
        <div class="navigationBar">
            <div class="header">台北一日遊</div>
            <div class="list">
                <div id="goToBooking">預定行程</div>
                <div id="signIn">登入/註冊</div>
                <div id="signOut">登出系統</div>
            </div>
        </div>
    </div>

    <!-- 1000px Main Content-->
    <div class="container" id="bookingContainer">
        <div class="haedline">
            您好，<span id="memberName">Wennie</span>，待預定的行程如下：
        </div>

        <!-- yes 有預訂行程時 -->
        <div id="hadBooking">
            <div class="bookingSection">
                <div class="bookingPic"><img src=""></div>
                <div class="bookigInfo">
                    <div class="bookingName">
                        台北一日遊：
                        <span id="attractionName">平安鐘</span>
                    </div>
                    <div class="allInfos">
                        <div class="F16-700 C666666">
                            日期：
                            <span id="ordersDate" class="F16-500 C666666">2021-04-23</span>
                        </div>
                        <div class="F16-700 C666666">
                            時間：
                            <span id="ordersTime" class="F16-500 C666666">早上 9 點到下午 4 點</span>
                        </div>
                        <div class="F16-700 C666666">
                            費用：
                            <span class="F16-500 C666666 ordersPrice">新台幣 2000 元</span>
                        </div>
                        <div class="F16-700 C666666">
                            地點：
                            <span id="attractionAddress" class="F16-500 C666666">臺北市 大安區忠孝東路4段</span>
                        </div>
                    </div>
                </div>
                <img src="/icon_delete.png" alt="刪除預訂行程" class="icon_delete">
            </div>

            <hr />

            <!-- contact form -->
            <form id="contactForm">
                <div class="F19-700 C666666">您的聯絡資訊</div>
                <div>
                    <label class="F16-500 C666666">聯絡姓名：</label>
                    <input type="text" id="contactName">
                </div>
                <div>
                    <label class="F16-500 C666666">聯絡信箱：</label>
                    <input type="email" id="contactEmail">
                </div>
                <div>
                    <label class="F16-500 C666666">手機號碼：</label>
                    <input type="tel" id="contactPhone">
                </div>
                <div class="F16-700 C666666">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </form>

            <hr />

            <!-- payment form -->
            <form id="paymentForm">
                <div class="F19-700 C666666">信用卡付款資訊</div>
                <div class="card-number-group">
                    <label class="F16-500 C666666">卡片號碼：</label>
                    <input type="number" placeholder="**** **** **** ****" id="card-number">
                </div>
                <div class="expiration-date-group">
                    <label class="F16-500 C666666">過期時間：</label>
                    <input type="number" placeholder="MM / YY" id="card-expiration-date">
                </div>
                <div class="ccv-group">
                    <label class="F16-500 C666666">驗證密碼：</label>
                    <input type="text" placeholder="CVV" id="card-ccv">
                </div>
            </form>

            <hr />

            <div class="confirm">
                <div class="F16-700 C666666">
                    總價：
                    <span class="ordersPrice F16-700 C666666">新台幣 2000 元</span>
                </div>
                <button id="confirmBookingBtn">確認訂購並付款</button>
                <button type="submit" id="paymentBtn">付款</button>
            </div>
        </div>

        <!-- no 沒預訂行程時 -->
        <div class="F16-500 C666666" id="noBooking">
            目前沒有任何待預訂的行程
        </div>

    </div>

    <!-- sign in box -->
    <div class="signInBoxContainer">
        <div class="signInBox">
            <div class="decoratorBar"></div>
            <form class="signInForm" id="signInForm">
                <div class="signInTextContainer">
                    <div class="signInTitle">登入會員帳號</div>
                    <img src="/icon_close.png" alt="icon_close" class="closeIcon" id="closeSignIn">
                    <input type="email" name="signInAccount" placeholder="輸入電子信箱" class="accountInput">
                    <input type="password" name="signInPassword" placeholder="輸入密碼" class="accountInput">
                    <button type="button" id="signInButton">登入帳戶</button>
                    <div class="signInMsg"></div>
                    <div class="goToSignUp">還沒有帳戶？點此註冊</div>
                </div>
            </form>
        </div>
    </div>

    <!-- sign up box -->
    <div class="signUpBoxContainer">
        <div class="signUpBox">
            <div class="decoratorBar"></div>
            <form class="signInForm" id="signUpForm">
                <div class="signInTextContainer">
                    <div class="signInTitle">註冊會員帳號</div>
                    <img src="/icon_close.png" alt="icon_close" class="closeIcon" id="closeSignUp">
                    <input type="text" name="signUpName" placeholder="輸入姓名" class="accountInput">
                    <input type="email" name="signUpAccount" placeholder="輸入電子郵件" class="accountInput">
                    <input type="password" name="signUpPassword" placeholder="輸入密碼" class="accountInput">
                    <button type="button" id="signUpButton">註冊新帳戶</button>
                    <div class="signUpMsg"></div>
                    <div class="goToSignIn">已經有帳戶了？點此登入</div>
                </div>
            </form>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="footerText">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <script src="/login.js"></script>
    <script>
        const PROD_API_PATH = "http://13.238.60.107:3000";
        const DEV_API_PATH = "http://127.0.0.1:3000";
        const confirmBookingBtn = document.getElementById('confirmBookingBtn');
        const header = document.querySelector('.header');
        const footer = document.querySelector('footer');
        const deleteBtn = document.querySelector('.icon_delete');
        let data;
        let formattedPrice;

        // 標題回首頁
        header.addEventListener('click', function () {
            window.location.href = '/';
        });

        // 進入頁面
        document.addEventListener("DOMContentLoaded", async function () {
            try {
                if (await verifyToken()) {
                    await getOrderData();
                } else {
                    window.location.href = '/';
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        });

        // call api : /api/booking 'GET'
        async function getOrderData() {
            try {
                let token = localStorage.getItem("access_token");
                const response = await fetch("/api/booking", {
                    method: "GET",
                    headers: {
                        Accept: "application/json",
                        Authorization: `Bearer ${token}`,
                    },
                });

                const response_data = await response.json();
                data = response_data.data;
                const userName = userData.name;
                // console.log(userData);

                if (response.status === 200 && data !== null) {
                    const arratctionDatas = data.attraction;
                    const hadBooking = document.getElementById('hadBooking');
                    const noBooking = document.getElementById('noBooking');
                    const memberName = document.getElementById('memberName');
                    const bookingPic = document.querySelector('.bookingPic');
                    const attractionName = document.getElementById('attractionName');
                    const ordersDate = document.getElementById('ordersDate');
                    const ordersTime = document.getElementById('ordersTime');
                    const ordersPrice = document.querySelectorAll('.ordersPrice');
                    const attractionAddress = document.getElementById('attractionAddress');
                    noBooking.style.display = "none"
                    hadBooking.style.display = "block";
                    // 有資料時 footer 不用那麼高
                    footer.classList.remove('footer-100vh');

                    const date = data.date;
                    const time = data.time;
                    const name = arratctionDatas.name;
                    const address = arratctionDatas.address;

                    // 替換 user name
                    memberName.textContent = userName;

                    attractionName.textContent = name;
                    attractionAddress.textContent = address;

                    // 替換圖片
                    const pic = arratctionDatas.image;
                    const newImage = document.createElement('img');
                    newImage.src = pic;
                    bookingPic.innerHTML = '';
                    bookingPic.appendChild(newImage)

                    // 替換日期
                    const newDate = new Date(date);
                    // 取得年、月、日
                    const year = newDate.getFullYear();
                    const month = String(newDate.getMonth() + 1).padStart(2, '0'); // 月份是從 0 開始的，所以要加 1
                    const day = String(newDate.getDate()).padStart(2, '0');

                    // 重新設定日期顯示內容
                    ordersDate.textContent = `${year}-${month}-${day}`;

                    // 替換價格
                    const priceNumber = data.price;
                    const price = `新台幣 ${priceNumber} 元`;
                    // 使用 toLocaleString 去除逗號＆確保小數為 0
                    formattedPrice = priceNumber.toLocaleString('en-US', {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 2, // 將 maximumFractionDigits 設為 2
                    }).replace('.00', ''); // 移除小數部分
                    ordersPrice.forEach((element) => {
                        element.innerHTML = `新台幣 ${formattedPrice} 元`;
                    });

                    // 替換 time
                    if (time === "morning") {
                        ordersTime.textContent = "早上 9 點到下午 4 點";
                    } else if (time === "afternoon") {
                        ordersTime.textContent = "下午 2 點到晚上 9 點";
                    };

                    return data;

                } else if (response.status === 200 && data == null) {
                    hadBooking.style.display = "none";
                    noBooking.style.display = "block";
                    const memberName = document.getElementById('memberName');
                    // 替換 user name
                    memberName.textContent = userName;
                    // 沒資料時 footer vh 要變成 100%
                    footer.classList.add('footer-100vh');
                }
            } catch (error) {
                console.error("失敗:", error);
            }
        }

        // 刪除預訂
        deleteBtn.addEventListener('click', async function () {
            try {
                let token = localStorage.getItem("access_token");
                const response = await fetch("/api/booking", {
                    method: "DELETE",
                    headers: {
                        Accept: "application/json",
                        Authorization: `Bearer ${token}`,
                    },
                });
                const data = await response.json();

                if (data.ok) {
                    alert("預訂行程已刪除")
                    window.location.reload();
                }
            } catch (error) {
                console.error("失敗:", error);
            }
        });

        // 確認訂購，建立訂單 
        confirmBookingBtn.addEventListener('click', async function () {
            try {
                let token = localStorage.getItem("access_token");
                // console.log(userData)
                // console.log(data);
                const dateElement = document.getElementById('ordersDate');
                const attractionData = data.attraction;
                const date = dateElement.textContent;
                const time = data.time;
                const price = formattedPrice;
                const contactName = document.getElementById('contactName').value;
                const contactEmail = document.getElementById('contactEmail').value;
                const contactPhone = document.getElementById('contactPhone').value;

                const trip = {
                    attraction: attractionData,
                };

                const contact = {
                    name: contactName,
                    email: contactEmail,
                    phone: contactPhone,
                };

                const order = {
                    price: price,
                    trip: trip,
                    date: date,
                    time: time,
                    contact: contact,
                };
                // console.log(order);

                const newOrderData = {
                    // prime : ,
                    order,
                };


                console.log(newOrderData);

                // const response = await fetch("/api/orders", {
                //     method: "POST",
                //     headers: {
                //         Accept: 'application/json',
                //         Authorization: `Bearer ${token}`,
                //         "Content-Type": "application/json",
                //     },
                //     body: JSON.stringify(newOrderData),
                // });

                // if (response.ok) {
                //     window.location.href = '/thankyou';
                // } else {
                //     alert('訂購失敗，請重新訂購');
                // };

            } catch (error) {
                console.error("訂購失敗:", error);
            }
        })    
    </script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
    <script>
        console.log('TPDirect')
        TPDirect.setupSDK(137152, 'app_Y3tfk6ih5JYGnvGfAolAWSBrGVShxAHxPhkVg4TCXgVkUCAuZpxIoTjWimVi', 'sandbox')
        TPDirect.card.setup({
            fields: {
                number: {
                    element: document.getElementById('card-number'),
                },
                expirationDate: {
                    element: document.getElementById('card-expiration-date'),
                },
                ccv: {
                    element: document.getElementById('card-ccv'),
                }
            },
            isMaskCreditCardNumber: true,
            maskCreditCardNumberRange: {
                beginIndex: 6,
                endIndex: 11
            }
        });
        
        TPDirect.card.onUpdate(function (update) {
            const submitButton = document.querySelector('button[type="submit"]');

            if (update.canGetPrime) {
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.setAttribute('disabled', true);
            }

            const cardTypes = ['mastercard', 'visa', 'jcb', 'amex', 'unionpay'];
            const newType = update.cardType === 'unknown' ? '' : update.cardType;
            document.getElementById('cardtype').textContent = newType;

            function setFormGroupStyle(selector, hasError, hasSuccess) {
                const element = document.querySelector(selector);
                element.classList.toggle('has-error', hasError);
                element.classList.toggle('has-success', hasSuccess);
            }

            setFormGroupStyle('.card-number-group', update.status.number === 2, update.status.number === 0);
            setFormGroupStyle('.expiration-date-group', update.status.expiry === 2, update.status.expiry === 0);
            setFormGroupStyle('.ccv-group', update.status.ccv === 2, update.status.ccv === 0);
        });

        document.querySelector('#paymentBtn').addEventListener('click', function (event) {
            event.preventDefault();
            forceBlurIos();
            const tappayStatus = TPDirect.card.getTappayFieldsStatus();
            console.log('tappayStatus:' + tappayStatus.canGetPrime)

            if (!tappayStatus.canGetPrime) {
                alert('can not get prime');
                return;
            }

            TPDirect.card.getPrime(function (result) {
                if (result.status !== 0) {
                    alert('get prime error ' + result.msg);
                    return;
                }

                alert('get prime 成功，prime: ' + result.card.prime);
            });
        });


        function setNumberFormGroupToError(selector) {
            const element = document.querySelector(selector);
            element.classList.add('has-error');
            element.classList.remove('has-success');
        }

        function setNumberFormGroupToSuccess(selector) {
            const element = document.querySelector(selector);
            element.classList.remove('has-error');
            element.classList.add('has-success');
        }

        function setNumberFormGroupToNormal(selector) {
            const element = document.querySelector(selector);
            element.classList.remove('has-error');
            element.classList.remove('has-success');
        }


        function forceBlurIos() {
            if (!isIos()) {
                return;
            }
            const input = document.createElement('input');
            input.setAttribute('type', 'text');
            document.activeElement.prepend(input);
            input.focus();
            input.parentNode.removeChild(input);
        }

        function isIos() {
            return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
        }
        console.log('TPDirect end')
    </script>
</body>


</html>