<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wennie Tung">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>  
<!-- navigation -->
    <div class="navigationFrame">
        <div class="navigationBar">
            <div class="title">台北一日遊</div>
            <div class="list">
                <div>預定行程</div>
                <div>登入/註冊</div>
            </div>
        </div>
    </div>

<!-- hero section -->
    <div class="heroSection">
        <div class="slogan">
            <div class="sloganText1">輕鬆享受台北一日悠閒</div>
            <div class="sloganText2">探索每個角落，體驗城市的深度旅遊行程</div>
            <form class="searchBar" action="">
                <input type="text" placeholder="輸入景點名稱查詢">
                <button type="submit" class="searchButton"></button>
            </form>
        </div>
    </div>

<!-- main -->
    <!-- list bar -->
    <div class="listBar">
        <button class="arrow"><img src="../public/arrowLeft.png" alt="arrowLeft"></button>
        <div>test</div>
        <button class="arrow"><img src="../public/arrowRight.png" alt="arrowRight"></button>
    </div>
    <!-- attractions -->

    <div class="attractions">
        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>

        <div class="attraction">
            <img src="../public/logan1.jpg">
            <div class="info">
                <span class="mrt">忠孝復興</span>
                <span class="category">公共藝術</span>
            </div>
            <div class="name">平安鐘</div>
        </div>
    </div>

</body>
</html>